---
layout: default
title: Homepage
---
<div class="docs-section news-section" id="news">
  <h4>News</h4>
    <ul class="STYLE238">
      <li>[2026/06] Invited as an Action Editor of <b>TMLR</b>.</li>
      <li>[2026/06] Two co-author papers on <i><font color="#2a7ce0">Multimodal reasoning/video prediction</font></i>, are accepted by <b>ECCV 2026</b>.</li>
      <li>[2026/05] One co-author paper on <i><font color="#2a7ce0">Drug screening</font></i>, is accepted by <b>KDD (Oral)</b>.</li>
      <li>[2026/05] One co-author paper on <i><font color="#2a7ce0">Biomolecular function</font></i>, is accepted by <b>Nature Communications</b>.</li>
      <li>[2026/04] One co-corresponding author paper on <i><font color="#2a7ce0">Multimodal reasoning</font></i>, is accepted by <b>ICML 2026 (Spotlight)</b>.</li>
      <li>[2026/04] One co-first author paper on <i><font color="#2a7ce0">Multimodal reasoning</font></i>, is accepted by <b>ACL 2026</b>.</li>
      <li>[2026/02] Three corresponding author papers on <i><font color="#2a7ce0">Multimodal reasoning</font></i>, are accepted by <b>CVPR 2026</b>.</li>
      <li>[2026/01] One corresponding author paper on <i><font color="#2a7ce0">Biomolecular function</font></i>, is accepted by <b>ICLR 2026</b>.</li>
      <li>[2026/01] One co-first author paper on <i><font color="#2a7ce0">Single cell foundation model</font></i>, is accepted by <b>Nature Communications</b>.</li>
      <li>[2025/09] One first author paper on <i><font color="#2a7ce0">Biomolecular database</font></i>, is accepted by <b>NeurIPS 2025</b>.</li>
      <li>[2025/07] I have joined in Shanghai AI Laboratory as a Researcher.</li>
      <li>[2025/07] One corresponding author paper on <i><font color="#2a7ce0">Multimodal reasoning</font></i>, is accepted by <b>ACM Multimedia 2025</b>.</li>
      <li>[2025/04] One co-first author paper on, <i><font color="#2a7ce0">Cryo-EM structure determination</font></i>, is accepted by <b>Nature Machine Intelligence</b>.</li>
      <li>[2025/04] One first author paper on, <i><font color="#2a7ce0">Video prediction</font></i>, is accepted by <b>TPAMI</b>.</li>
      <li>[2025/04] One first author paper on, <i><font color="#2a7ce0">Multimodal reasoning</font></i>, is accepted by <b>IJCAI 2025</b>.</li>
      <li>[2025/01] One co-first author paper on, <i><font color="#2a7ce0">Multimodal reasoning</font></i>, is accepted by <b>CVPR 2025 (Highlight)</b>.</li>
      <li>[2025/01] One first author paper on, <i><font color="#2a7ce0">Biomolecular function</font></i>, is accepted by <b>ICLR 2025</b>.</li>
      <li>[2024/12] One first author paper on, <i><font color="#2a7ce0">Biomolecular design</font></i>, is accepted by <b>AAAI 2025 (Oral)</b>.</li>
      <li>[2024/12] One first author paper on, <i><font color="#2a7ce0">Video prediction</font></i>, is accepted by <b>TMM</b>.</li>
      <li>[2024/09] Three co-first papers on, <i><font color="#2a7ce0">Biomolecular function</font></i>, are accepted by <b>NeurIPS 2024</b>.</li>
      <li>[2024/07] One first author paper on, <i><font color="#2a7ce0">Multimodal reasoning</font></i>, is accepted by <b>ECCV 2024</b>.</li>
      <li>[2024/05] One first author paper on, <i><font color="#2a7ce0">Biomolecular Design</font></i>, is accepted by <b>ICML 2024</b>.</li>
      <li>[2024/01] One co-first author paper on, <i><font color="#2a7ce0">Diffusion model</font></i>, is accepted by <b>TKDE</b>.</li>
      <li>[2024/01] Two first/co-first author papers on, <i><font color="#2a7ce0">Biomolecular design</font></i>, are accepted by <b>ICLR 2024</b>.</li>
      <li>[2023/12] One first author paper on, <i><font color="#2a7ce0">Biomolecular design</font></i>, is accepted by <b>AAAI 2024</b>.</li>
      <li>[2023/10] I have been honored with the <b>National Scholarship</b>.</li>
      <li>[2023/09] Two first/co-first author papers on, <i><font color="#2a7ce0">Video prediction/biomolecular design</font></i>, are accepted by <b>NeurIPS 2023</b>.</li>
      <li>[2023/02] One first author paper on, <i><font color="#2a7ce0">Video prediction</font></i>, is accepted by <b>CVPR 2023</b>.</li>
      <li>[2023/01] One co-first paper is on, <i><font color="#2a7ce0">Biomolecular design</font></i>, accepted by <b>ICLR 2023</b>.</li>
      <li>[2022/03] Two first/co-first author papers on, <i><font color="#2a7ce0">Video prediction and SSL</font></i>, are accepted by <b>CVPR 2022</b>.</li>
      <li>[2021/08] One first author paper on, <i><font color="#2a7ce0">Semi-supervised learning</font></i>, is accepted by <b>ACM MM 2021 (Oral)</b>.</li>
    </ul>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Selected Publications</h4>
  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution. <br/>
  * indicates the corresponding author.
  </p>

  {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}

  {% capture arxiv_papers %}
    {% for paper in selected_papers %}
      {% if paper.venue == nil or paper.venue == "" or paper.venue contains "arXiv" or paper.venue contains "Tech Report" %}
        {% include paper.html paper=paper %}
      {% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign arxiv_papers = arxiv_papers | strip %}
  {% if arxiv_papers != "" %}
    <section class="publication-group publication-group-report">
      <h5 class="publication-group-title">Tech Report</h5>
      {{ arxiv_papers }}
    </section>
  {% endif %}

  <section class="publication-group publication-group-journals">
    <h5 class="publication-group-title">Journals</h5>
    {% for paper in selected_papers %}
      {% if paper.venue contains "Nature" or paper.venue contains "TPAMI" or paper.venue contains "TMM" or paper.venue contains "TKDE" %}
        {% include paper.html paper=paper %}
      {% endif %}
    {% endfor %}
  </section>

  <section class="publication-group publication-group-ai">
    <h5 class="publication-group-title">Conferences</h5>
    {% for paper in selected_papers %}
      {% unless paper.venue contains "Nature" or paper.venue contains "TPAMI" or paper.venue contains "TMM" or paper.venue contains "TKDE" %}
        {% if paper.venue and paper.venue != "" %}
          {% unless paper.venue contains "arXiv" or paper.venue contains "Tech Report" %}
            {% include paper.html paper=paper %}
          {% endunless %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </section>
</div>


<div class="docs-section" id="service">
  <h4>Service</h4>
    <b>Conference - Area Chair</b>
      <p>ICLR, NeurIPS, TMLR, etc.</p>
    <b>Conference - Program committee member</b>
      <p>ICML, NeurIPS, ICLR, AISTATS, CVPR, ECCV, ICCV, AAAI, ACL, EMNLP, ACM MM, ECML-PKDD, ICASSP, etc.</p>
    <b>Journal - Editor</b>
      <p>TMLR, etc.</p>
    <b>Journal - Reviewer</b>
    <ul class="STYLE238">
      IJCV, TPAMI, TIP, TMM, TCSVT, TNNLS, TCBB, Pattern Recognition, EAAI, Neurocomputing, etc.
    </ul>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <div class="experience-chart">
    {% for exp in site.data.experience.experiences %}
      {% unless exp.embed_parent %}
        <div class="experience-row experience-{{ exp.category }}{% if exp.boundary_before == 'y' %} experience-boundary-before{% endif %}">
          <div class="experience-time">{{ exp.time }}</div>
          <div class="experience-meta">
            <div class="experience-place">{{ exp.place }}</div>
            <div class="experience-title">{{ exp.title }}</div>
            {% if exp.subtitle %}
              <div class="experience-subtitle">{{ exp.subtitle }}</div>
            {% endif %}

            {% assign embedded_experiences = site.data.experience.experiences | where: "embed_parent", exp.key %}
            {% if embedded_experiences.size > 0 %}
              <div class="experience-embedded-list">
                {% for embedded in embedded_experiences %}
                  <div class="experience-embedded">
                    <div class="experience-embedded-time">{{ embedded.time }}</div>
                    <div class="experience-embedded-content">
                      <div class="experience-place">{{ embedded.place }}</div>
                      <div class="experience-title">{{ embedded.title }}</div>
                      {% if embedded.subtitle %}
                        <div class="experience-subtitle">{{ embedded.subtitle }}</div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>

<p> This website was built with <a href="https://jekyllrb.com">jekyll</a> based on a template from <a href="http://web.media.mit.edu/~msaveski/">Martin Saveski</a>.
</p>
